*{
    margin: 0;
    padding: 0;
}

/* fonts */

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

/*  shared styles  */
.btn-primary {
    padding: 12px 16px;
    border-radius: 4px;
    border: none;
    background-color: #469165;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

button {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}


a{
    text-decoration: none;
    color: inherit;
}

/* navbar styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:16px 120px;
}

ul{
    list-style: none;
    display: flex;
    gap: 32px;
}


/* hero section styles */
.hero{
    background-image: url('assets/hero-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 115px 120px 170px 120px;
    text-align: center;
}
.early-access{
    width: fit-content;
    margin: 0 auto;
    display: flex;
    gap: 6px;
    background-color: white;
    color: #469165;
    font-weight: 500;
    padding: 8px 12px;
    border-radius: 1000px;
}
.hero h1{
    color: white;
    font-size: 72px;
    font-weight: bold;
    margin: 16px 0;
}
.hero-h1-2nd{
    color: #30B868;
}
.hero-description{
    color: white;
    font-size: 18px;
    max-width: 50%;
    margin: 0 auto;
    margin-bottom: 32px;
}
.hero-btns{
    display: flex;
    gap: 16px;
    margin: 0 auto;
    width: fit-content;
}
.hero-btns button{
    display: flex;
    gap: 10px;
    align-items: center;
}
.hero-btn2{
    padding: 12px 16px;
    border-radius: 4px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

/* notes section style */
.notes{
    text-align: center;
    padding: 60px 120px;
    background-color: #FBFBFB;
}
.notes h1, .second-brain h1{
    color: #001931;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
}
.notes h2{
    font-size: 24px;
    font-weight: 600px;
}
.notes p, .second-brain p{
    color: #627382;
}
.card-container{
    display: flex;
    gap: 24px;
}
.card{
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: white;
    border: 2px solid #F7F7F7;
    border-radius: 8px;
    margin-top: 45px;
}
.card-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: #F95555;
    border-radius: 100%;
    margin: 0 auto;
}


/* second brain section styles */
.second-brain{
    padding: 120px;
    display: flex;
    gap: 60px;
}
.second-brain h1{
    margin: 16px 0;
}
.second-brain h3{
    color: #30B868;
    font-weight: 500;
}
.check-container{
    margin: 40px 0;
}
.check{
    display: flex;
    align-items: center;
    gap: 6px;
    margin: 16px 0;
}
.second-brain-content{
    margin: auto 0;
}
.second-brain-content-description{
    max-width: 60%;
}